* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 70%;
  margin: auto;
}
.wrapper header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
.wrapper header ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.wrapper header ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
