* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Deco";
  src: url("./fonts/LavishlyYours-Regular.ttf");
}
.wrapper {
  width: 70%;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
header h1 {
  font-family: Deco;
}
header ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}
